      <div class="page page-form-validate">
        <form name="form3" class="form-horizontal" submit-validate ng-submit="submitForm(form2.$valid)" role="form" novalidate >

          <!-- tile -->
          <section class="tile" fullscreen="isFullscreen04">

            <!-- tile header -->
            <div class="tile-header dvd dvd-btm">
              <h1 class="custom-font"><strong>Add </strong>Leave</h1>
              <ul class="controls">
                <li class="dropdown" uib-dropdown on-toggle="toggled(open)">

                  <a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

                  <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                    <li>
                      <a href tile-control-toggle>
                        <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                        <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                      </a>
                    </li>
                    <li>
                      <a href tile-control-refresh ng-click="ajaxFaker()">
                        <fa name="refresh"></fa> Refresh
                      </a>
                    </li>
                    <li>
                      <a href tile-control-fullscreen ng-click="isFullscreen04 = !isFullscreen04">
                        <fa name="expand"></fa> Fullscreen
                      </a>
                    </li>
                    <li>
                      <a href tile-control-lightbox>
                        <fa name="magnet"></fa> Open in Lightbox
                      </a>
                    </li>

                  </ul>

                </li>
                <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
              </ul>
            </div>
            <!-- /tile header -->

            <!-- tile body -->
            <div class="tile-body form-validation">
                
            <div class="form-group">
                <label class="col-sm-3 control-label">Leave</label>
                <div class="col-sm-9">
                  <input type="text" name="meeting" class="form-control" placeholder="Alpha" ng-model="meeting" ng-pattern="/^[a-zA-Z]+$/" required >
                </div>
              </div>
                
                   <hr class="line-dashed line-full" /> 
                
                         <div class="form-group">
                <label class="col-sm-3 control-label">From</label>
                <div class="col-sm-9" ng-controller="DatepickerDemoCtrl">
                  <div class="input-group w-md">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </div>
                </div>
              </div>
                
                       <hr class="line-dashed line-full" /> 
                
                        <div class="form-group">
                <label class="col-sm-3 control-label">To</label>
                <div class="col-sm-9" ng-controller="DatepickerDemoCtrl">
                  <div class="input-group w-md">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </div>
                </div>
              </div>
                
            <hr class="line-dashed line-full" /> 
           
                     <div class="form-group">
                <label class="col-sm-3 control-label">Attachment</label>
                <div class="col-sm-9">
                  <input type="text" name="comment" class="form-control" placeholder="Alpha" ng-model="comment" ng-pattern="/^[a-zA-Z]+$/" required >
                </div>
              </div>
     
                 <hr class="line-dashed line-full" /> 
                
                    <div class="form-group">
                <label class="col-sm-3 control-label">Comment</label>
                <div class="col-sm-9">
                  <input type="text" name="comment" class="form-control" placeholder="Alpha" ng-model="comment" ng-pattern="/^[a-zA-Z]+$/" required >
                </div>
              </div>

              </div>
              
              <hr class="line-dashed line-full" /> 
              
                 <div class="form-group">
                <label class="col-sm-3 control-label">Attachment</label>
                <div class="col-sm-9">
                  <input ui-jq="filestyle" type="file" class="filestyle" ui-options="{
                    buttonText: 'Attachment',
                    iconName: 'fa fa-inbox'
                  }">
                </div>
              </div>
                


            <!-- tile footer -->
            <div class="tile-footer text-right bg-tr-black lter dvd dvd-top">
              <!-- SUBMIT BUTTON -->
                <button ui-sref="app.calendar" class="btn btn-default">Back</button>
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
            <!-- /tile footer -->

          </section>
          <!-- /tile -->

        </form>

      </div>
      



    
