      <div class="page page-form-validate">
        <form name="form3" class="form-horizontal" submit-validate ng-submit="submitForm(form2.$valid)" role="form" novalidate >

          <!-- tile -->
          <section class="tile" fullscreen="isFullscreen04">

            <!-- tile header -->
            <div class="tile-header dvd dvd-btm">
              <h1 class="custom-font"><strong>Add </strong>Leave</h1>
              <ul class="controls">
                <li class="dropdown" uib-dropdown on-toggle="toggled(open)">

                  <a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

                  <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                    <li>
                      <a href tile-control-toggle>
                        <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                        <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                      </a>
                    </li>
                    <li>
                      <a href tile-control-refresh ng-click="ajaxFaker()">
                        <fa name="refresh"></fa> Refresh
                      </a>
                    </li>
                    <li>
                      <a href tile-control-fullscreen ng-click="isFullscreen04 = !isFullscreen04">
                        <fa name="expand"></fa> Fullscreen
                      </a>
                    </li>
                    <li>
                      <a href tile-control-lightbox>
                        <fa name="magnet"></fa> Open in Lightbox
                      </a>
                    </li>

                  </ul>

                </li>
                <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
              </ul>
            </div>
            <!-- /tile header -->

            <!-- tile body -->
            <div class="tile-body form-validation">
                
               <div class="form-group">
                   <label class="col-sm-3 control-label">Leave</label>
                    <div class="col-sm-6">
                   <md-input-container>
              <label >Leave</label>
                      
              <md-select ng-model="newLv.title">
                <md-option ng-repeat="leave in arrayleaves" value="{{leave}}">{{leave}}</md-option>
              </md-select>
                        
            </md-input-container>
                        </div>  
<!--
                <label class="col-sm-3 control-label">Leave</label>
                <div class="col-sm-6">
                  <input type="text" name="Leave" class="form-control" placeholder="enter leave" ng-model="newLv.title" ng-pattern="/^([A-Za-z]|[0-9]|\s)+$/" required >
                </div>
-->
              </div>
<!--
                <div class="form-group">
                    <label class="col-sm-3 control-label">Leave</label>
                    <div class="col-sm-6">
                 <ui-select ng-model="arrayleave.selected"  ng-disabled="disabled" class="w-md mb-10">
                    <ui-select-match placeholder="Select or search a leave...">{{$select.selected}} <a href ng-click="clear($event)"><i class="fa fa-times"></i></a></ui-select-match>
                    <ui-select-choices repeat="arrayleave in arrayleaves | filter: $select.search">
                      <span ng-bind-html="arrayleave | highlight: $select.search"></span>
                    </ui-select-choices>
                  </ui-select>
                    </div>
                </div>
-->
<!--
                 <div class="form-group">
                <label class="col-sm-3 control-label">Leave</label>
                <div class="col-sm-6">
               
             <div layout="column"  style="height: 100px;">
             <md-select placeholder="Assign to user" ng-model="newLv" md-on-open="loadUsers()" style="min-width: 200px;">
              <md-option ng-value="newLv" ng-repeat="newLv in arrayleaves">{{newLv}}</md-option>
             </md-select>
            
              </div>
            
                     </div>
                </div>
-->
                   <hr class="line-dashed line-full" /> 
                
                         <div class="form-group">
                <label class="col-sm-3 control-label">From</label>
                <div class="col-sm-9" ng-controller="DatepickerDemoCtrl">
                  <div class="input-group w-md">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="newLv.date" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </div>
                </div>
              </div>
                
                       <hr class="line-dashed line-full" /> 
                
                        <div class="form-group">
                <label class="col-sm-3 control-label">To</label>
                <div class="col-sm-9" ng-controller="DatepickerDemoCtrl">
                  <div class="input-group w-md">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="newLv.dateTo" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </div>
                </div>
              </div>
                
            <hr class="line-dashed line-full" /> 
           
                 <div class="form-group">
                <label class="col-sm-3 control-label">Attachment</label>
                <div class="col-sm-6">
                  <input type="text" name="Leave" class="form-control" placeholder="enter note" ng-model="newLv.note" ng-pattern="/^([A-Za-z]|[0-9]|\s)+$/" required >
                </div>
              </div>
     
                 <hr class="line-dashed line-full" /> 
                
                         <div class="form-group" ng-class="{ 'has-error' : contactForm.message.$invalid && !contactForm.message.$pristine || contactForm.message.$invalid && submitted, 'has-success' : contactForm.message.$valid && !contactForm.message.$pristine || contactForm.message.$valid && submitted}">
                <label class="col-sm-3 control-label" for="message">Comment: </label>
                         <div class="col-sm-6">
                <textarea class="form-control" rows="5" name="message" id="message" placeholder="Type your comment" ng-model="newLv.comment"  on-blur-validation required></textarea>
                <p class="help-block">
                  <span ng-show="contactForm.message.$invalid && !contactForm.message.$pristine || contactForm.message.$invalid && submitted">commnet is required.</span>
                </p>
                         </div>
              </div>

              </div>
<!--
              
              <hr class="line-dashed line-full" /> 
              
                 <div class="form-group">
                <label class="col-sm-3 control-label">Attachment</label>
                <div class="col-sm-6">
                  <input ui-jq="filestyle" type="file" class="filestyle" ui-options="{
                    buttonText: 'Attachment',
                    iconName: 'fa fa-inbox'
                  }">
                </div>
              </div>
                
-->


            <!-- tile footer -->
            <div class="tile-footer text-right bg-tr-black lter dvd dvd-top">
              <!-- SUBMIT BUTTON -->
                <button ui-sref="app.calendar" class="btn btn-default">Back</button>
              <button type="submit" class="btn btn-default" ng-click="addLeave()">Submit</button>
            </div>
            <!-- /tile footer -->

          </section>
          <!-- /tile -->

        </form>

      </div>
      



    
