<div class="page page-profile">




  <!-- page header -->
  <div class="pageheader">



    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>

        </li>
        <li>
          <a ui-sref="app.pages.profile">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>
  <!-- /page header -->






  <!-- page content -->
  <div class="pagecontent">


    <!-- row -->
    <div class="row">






      <!-- col -->
      <div class="col-md-4">

        <!-- tile -->
        <section class="tile tile-simple">

          <!-- tile widget -->
          <div class="tile-widget p-30 text-center">

            <div class="thumb thumb-xl">
              <img class="img-circle" src="images/arnold-avatar.jpg" alt="">
            </div>
            <h4 class="mb-0"><strong>Thulani</strong> Malatjie</h4>
            <span class="text-muted">Software dev Intern</span>
            <div class="mt-10">
<!--              <button class="btn btn-rounded-20 btn-sm btn-greensea">Follow</button>-->
              <button ui-sref="app.mail.inbox" class="btn btn-rounded-20 btn-sm btn-lightred">Message</button>
                
            </div>

          </div>
          <!-- /tile widget -->


          <!-- /tile body -->

        </section>
        <!-- /tile -->


        <!-- tile -->
        <section class="tile tile-simple">

          <!-- tile header -->
          <div class="tile-header">
            <h1 class="custom-font"><strong>About</strong> Me</h1>
          </div>
          <!-- /tile header -->

          <!-- tile body -->
          <div class="tile-body">

            <p align="center">
              <a href="https://www.linkedin.com" class="icon icon-hotpink icon-ef-3 icon-ef-3b icon-color"><i class="fa fa-linkedin"></i></a>
<!--              <a href="#" class="icon icon-info icon-ef-3 icon-ef-3b icon-color"><i class="fa fa-twitter"></i></a>-->
              <a href="https://www.facebook.com" class="icon icon-primary icon-ef-3 icon-ef-3b icon-color"><i class="fa fa-facebook"></i></a>
<!--              <a href="#" class="icon icon-lightred icon-ef-3 icon-ef-3b icon-color"><i class="fa fa-google-plus"></i></a>-->
<!--              <a href="#" class="icon icon-hotpink icon-ef-3 icon-ef-3b icon-color"><i class="fa fa-dribbble"></i></a>-->
            </p>

<!--            <p class="text-default lt">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p>-->

          </div>
          <!-- /tile body -->

        </section>
        <!-- /tile -->

        <!-- tile -->
        <section class="tile tile-simple">

          <!-- tile header -->
          <div class="tile-header">
            <h1 class="custom-font"><strong>INTERN</strong> List</h1>
          </div>
          <!-- /tile header -->

          <!-- tile body -->
          <div class="tile-body">
               <div class="media ">
              <div class="pull-left thumb">
                <img class="media-object img-circle" src="images/random-avatar7.jpg" alt="">
              </div>
              <div class="pull-right mt-10">
                <button type="button" class="btn btn-rounded-20 btn-default btn-sm mr-5" style="width:30px;"><i class="fa fa-times"></i></button>
                <button type="button" class="btn btn-rounded-20 btn-default btn-sm mr-5" style="width:30px;"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-rounded-20 btn-default btn-sm" style="width:30px;"><i class="fa fa-eye" style="margin-left: -2px;"></i></button>
              </div>
              <div class="media-body">
                <p class="media-heading mb-0 mt-10">Tshegofatso <strong>Mojela</strong></p>
                <small class="text-lightred">Software dev Intern</small>
              </div>
            </div>
              
   

            <hr/>
          
           

          </div>
          <!-- /tile body -->

        </section>
        <!-- /tile -->

        <!-- tile -->
<!--
        <section class="tile tile-simple">

     
          <div class="tile-header">
            <h1 class="custom-font"><strong>My</strong> Projects</h1>
          </div>
      

     
          <div class="tile-body">

            <ul class="list-unstyled">

              <li>
                <div class="row">
                  <div class="col-md-3">
                    jobPortal
                  </div>
                  <div class="col-md-9">
                    <uib-progressbar class="progress-striped not-rounded" value="56" type="warning">56%</uib-progressbar>
                  </div>
                </div>
              </li>

              <li>
                <div class="row">
                  <div class="col-md-3">
                    LogBook
                  </div>
                  <div class="col-md-9">
                    <uib-progressbar class="progress-striped not-rounded" value="90" type="blue">90%</uib-progressbar>
                  </div>
                </div>
              </li>

              <li>
                <div class="row">
                  <div class="col-md-3">
                    ServiceDesk
                  </div>
                  <div class="col-md-9">
                    <uib-progressbar class="progress-striped not-rounded" value="36" type="greensea">36%</uib-progressbar>
                  </div>
                </div>
              </li>

              <li>
                <div class="row">
                  <div class="col-md-3">
                    ITSystem
                  </div>
                  <div class="col-md-9">
                    <uib-progressbar class="progress-striped not-rounded" value="8" type="danger">8%</uib-progressbar>
                  </div>
                </div>
              </li>


            </ul>


          </div>
       

        </section>
-->
        <!-- /tile -->


      </div>
      <!-- /col -->






      <!-- col -->
      <div class="col-md-8">

        <!-- tile -->
        <section class="tile tile-simple">

          <!-- tile body -->
          <div class="tile-body p-0">

            <uib-tabset class="tabs-dark">


              <uib-tab heading="Settings">
                <div class="wrap-reset">

                  <form class="profile-settings">

                    <div class="row">
                      <div class="form-group col-md-12 legend">
                        <h4><strong>Personal</strong> Settings</h4>
                        <p>Personal account settings</p>
                      </div>
                    </div>

                    <div class="row">

                      <div class="form-group col-sm-6">
                        <label for="first-name">First Name</label>
                        <input type="text" class="form-control" id="first-name" value="Thulani">
                      </div>

                      <div class="form-group col-sm-6">
                        <label for="last-name">Last Name</label>
                        <input type="text" class="form-control" id="last-name" value="Malatjie">
                      </div>

                    </div>

                    <div class="row">

                      <div class="form-group col-sm-6">
                        <label for="address1">Address Line 1</label>
                        <input type="text" class="form-control" id="address1" value="528 Soshanguve Block L">
                      </div>

                      <div class="form-group col-sm-6">
                        <label for="address2">Address Line 2</label>
                        <input type="text" class="form-control" id="address2" value="Rivonia 325">
                      </div>

                    </div>

                    <div class="row">

                      <div class="form-group col-sm-4">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" value="Pretoria">
                      </div>

                       <div class="form-group col-sm-6">
                        <label for="Province">Province</label>
                        <select ui-jq="chosen" id="Province" ui-options="{width: '100%'}">
                          <option>Gauteng</option>
                          <option>Limpopo</option>
                          <option>KwaZulu-Natal</option>
                          <option>North West</option>
                          <option>Eastern Cape</option>
                          <option>Free State</option>
                          <option>Mpumalanga</option>
                          <option>Northern Cape</option>
                          <option>Western Cape</option>
                        </select>
                      </div>

                      <div class="form-group col-sm-4">
                        <label for="zip">Zip Code</label>
                        <input type="text" class="form-control" id="zip" value="0001">
                      </div>

                    </div>

                    <div class="row">

                      <div class="form-group col-sm-6">
                        <label for="email">E-mail</label>
                        <input type="email" class="form-control" id="email" value="tmalatjie@gmail.com" readonly>
                      </div>

                     

                    </div>

                    <div class="row">

                      <div class="form-group col-sm-6">
                        <label for="phone">Phone</label>
                        <input type="text" class="form-control" id="phone" value="+(27) 72 688 5360">
                        <span class="help-block">+(27) 99 999 9999</span>
                      </div>


                    </div>



                    <div class="row">
                      <div class="form-group col-md-12 legend">
                        <h4><strong>Social</strong> Settings</h4>
                        <p>Connect with your social profiles</p>
                      </div>
                    </div>

                    <div class="row">

                      <div class="form-group col-sm-6">
                        <label for="facebook">Facebook</label>
                        <input type="text" class="form-control" id="facebook" value="thulani malatjie">
                      </div>


                    </div>

                    <div class="row">



                    </div>

                    <div class="row">


                      <div class="form-group col-sm-6">
                        <label for="github">GitHub</label>
                        <input type="text" class="form-control" id="github" value="Thulani Projects">
                      </div>

                    </div>

                    <div class="row">
                      <div class="form-group col-md-12 legend">
                        <h4><strong>Security</strong> Settings</h4>
                        <p>Secure your account</p>
                      </div>
                    </div>

                    <div class="row">

                      <div class="form-group col-sm-6">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" value="Thulani" readonly>
                      </div>


                      <div class="form-group col-sm-6">
                        <label for="password">Current Password</label>
                        <input type="password" class="form-control" id="password" value="secretpassword" readonly>
                      </div>

                    </div>

                    <div class="row">

                      <div class="form-group col-sm-6">
                        <label for="new-password">New Password</label>
                        <input type="password" class="form-control" id="new-password">
                      </div>

                      <div class="form-group col-sm-6">
                        <label for="new-password-repeat">New Password Repeat</label>
                        <input type="password" class="form-control" id="new-password-repeat">
                      </div>

                    </div>

                    <div class="row">



                      <div class="form-group col-sm-6">
                        <label>Notifications:</label>
                        <label class="checkbox checkbox-custom">
                          <input type="checkbox" checked=""><i></i> New objectives notifications
                        </label>

                        <label class="checkbox checkbox-custom">
                          <input type="checkbox"><i></i> New message nofifications
                        </label>
                      </div>

                    </div>

                  </form>

                </div>
              </uib-tab>



            </uib-tabset>

          </div>
          <!-- /tile body -->

        </section>
        <!-- /tile -->

      </div>
      <!-- /col -->











    </div>
    <!-- /row -->



  </div>
  <!-- /page content -->




</div>
