<body controller="SignupCtrl">
 <div class="page page-core page-login" >
   <div class="text-center"><h3 class="text-light text-white"><span class="text-lightred"></span>INTERN LOGBOOK</h3></div>
     <div class="container bg-white text-center">
         <h2 class="text-light text-greensea">Sign Up</h2>
         
<table class="table">
    
    <form name="form2" class="form-validation mt-24" novalidate >
    <tr>

        
          <p class="help-block text-left"> Enter your details below:</p> 
  
<th>
            <div class="form-group">
            <input type="text" class="form-control underline-input" placeholder="First Name" ng-model="user.fName" required>
            </div>
</th>
        
<th>
            <div class="form-group">
           <input type="text" class="form-control underline-input" placeholder="Last Name" ng-model="user.lName" required>
           </div>
</th>
        
        
        <th> 
            <div class="form-group">
            <input type="email" class="form-control underline-input" placeholder="example@company.com" ng-model="user.email" required>
            </div>
</th>
      
        <th>   
            <div class="form-group">
            <input type="text" class="form-control underline-input" placeholder="Gender" ng-model="user.gender" required>
            </div>
</th>
          <th>
             <div class="form-group">
             <input type="password" placeholder="Password" class="form-control underline-input" ng-model="user.password" required>
             </div>
 </th>
        
    
</tr>
        
<tr>
<!--
        <th>
           <div class="form-group">
           <input type="password" placeholder="Confirm Password" class="form-control underline-input" ng-model="user.comfirmPassword" required>
           </div>
</th>
-->
          <th>   
            <div class="form-group">
            <input type="text" class="form-control underline-input" placeholder="job title" ng-model="user.jobTitle" required>
            </div>
</th>
           <th>   
            <div class="form-group">
            <input type="text" class="form-control underline-input" placeholder="Department" ng-model="user.department" required>
            </div>
</th>
        
           <th>   
            <div class="form-group">
            <input type="text" class="form-control underline-input" placeholder="Position" ng-model="user.uCategory" required>
            </div>
</th>
        <th>
            <div class="form-group">
            <input type="text" class="form-control underline-input" placeholder="Contacts" ng-model="user.contactNo" required>
            </div>
</th>
        
        
          <th></th>
        
        
      <th> 
      </th>  
        <tr>
 
    <form class="form-inline" name="form">
        
        <th>
            
             <div class="form-group" >
                  
                <div class="col-s-13">
                <ui-select ng-model="company.selected"  ng-disabled="disabled" class="w-md mb-10">
                    <ui-select-match placeholder="Select or search an companies..." >{{$select.selected.name}} <a href ng-click="clear($event)"><i class="fa fa-times"></i></a></ui-select-match>
                    <ui-select-choices repeat="company in Companies | filter: $select.search">
                      <span ng-bind-html="company.name | highlight: $select.search"></span>
                    </ui-select-choices>
                  </ui-select>
                  </div>
              </div> 
        </th>
        
     <th>
            
              <div class="form-group" >
                  
                <div class="col-s-13">
                <ui-select ng-model="mentor.selected"  ng-disabled="disabled" class="w-md mb-10">
                    <ui-select-match placeholder="Select or search an mentors..." >{{$select.selected.fName}} <a href ng-click="clear($event)"><i class="fa fa-times"></i></a></ui-select-match>
                    <ui-select-choices repeat="mentor in Mentors | filter: $select.search">
                      <span ng-bind-html="mentor.fName | highlight: $select.search"></span>
                    </ui-select-choices>
                  </ui-select>
                  </div>
              </div> 
        </th>

    </form>


        </tr>
        

 <button type="submit" class="btn btn-default" ng-click="register()">Submit</button>
                 </form>
</table>
  <div class="form-group text-left">
         <label class="checkbox checkbox-custom checkbox-custom-sm inline-block">
          <input type="checkbox" ng-model="user.accept" required><i></i> I agree to the <a href="javascript:;">Terms of Service</a>  <a href="javascript:;">Privacy Policy</a>
        </label>
      </div>

    <div class="bg-slategray lt wrap-reset mt- text-left">
      <p class="m-0">
        <a  class="btn btn-greensea b-0 text-lowercase pull-right" ng-disabled='form2.$invalid' ng-click="register()">Submit</a>
        <a ui-sref="core.login" class="btn btn-lightred b-0 text-lowercase">Back</a>
      </p>
    </div>

  </div>

</div>
</body>