<body background-color="#FFFFFF" ng-app="app">
    
<div class="pagecontent"  data-ng-controller="PerformanceCtrl">
    
    <div class="row">
       
      <div class="col-md-12">
 
<section class="tile" fullscreen="isFullscreen01"> 

 <div class="tile-header dvd dvd-btm">
    
   <h1 class="custom-font" align="center"><strong>Self Evaluation</strong></h1>
    <ul class="controls">
    </ul>
   </div> 
      
<div>
  <div class="panel">
   <div class="row"></div>    
<div class="panel-body">
<table class="table table-bordered bordered table-striped table-condensed datatable" ui-options="dataTableOpt">          
  <thead>
          

        <tr>
      
        <th>Key Performance </th>
        <th>Rating</th>
		<th>Justification</th>
		
            
        </tr>
         
      </thead>
	<div  class="col-lg-10 well" data-ng-controller="PerformanceCtrl">
	<div class="row">
				<form class="form-horizontal" role="form"  ng-submit="">
					<div class="col-sm-12">					
						<strong><ol>Rate yourself as follows:
                            <li>Almost never meets expectation</li>
                            <li>Seldom meets expectation</li>
                            <li>Meets expectation</li>
                            <li>Often meets expectation</li>
                            <li>Consistently exceeds expectation</li>
                        </ol></strong>
      
      <tbody>
                            <tr>
                            <td>Attendance</td>
                            <td><select class="rating">
                                <option>Select</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                              </select></td>                            
							<td><textarea type="text" class="form-control" ng-model="" ></textarea></td>
                              </tr> 
                    
                        
                            <tr>
                            <td>Time Management</td>
                            <td><select class="rating">
                                <option>Select</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                              </select></td>                            
							<td><textarea type="text" class="form-control" ng-model="" ></textarea></td>
                              </tr> 
                        
                            <tr>
                            <td>Attitude and Enthusiasm</td>
                            <td><select class="rating">
                                <option>Select</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                              </select></td>                            
							<td><textarea type="text" class="form-control" ng-model="" ></textarea></td>
                              </tr> 
                        
                            <tr>
                            <td>Commitment</td>
                            <td><select class="rating">
                                <option>Select</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                              </select></td>                            
							<td><textarea type="text" class="form-control" ng-model="" ></textarea></td>
                              </tr> 
                        
                            <tr>
                            <td>Initiative (pro-activeness)</td>
                            <td><select class="rating">
                                <option>Select</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                              </select></td>                            
							<td><textarea type="text" class="form-control" ng-model="" ></textarea></td>
                              </tr> 
                    
                            <tr>
                            <td>Quality of Work</td>
                            <td><select class="rating">
                                <option>Select</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                              </select></td>                            
							<td><textarea type="text" class="form-control" ng-model="" ></textarea></td>
                              </tr> 
                        
                            <tr>
                            <td>Team Work/ participation</td>
                            <td><select class="rating">
                                <option>Select</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                              </select></td>                            
							<td><textarea type="text" class="form-control" ng-model="" ></textarea></td>
                              </tr> 
                    
                        <tr>
                        <td></td>
                            <strong><td>Average : </td></strong>   
                        <td></td>
                            
                        </tr> 
                        <tr>
                        <td><button type="submit" class="btn btn-xs btn-default"  ng-click="">Cancel</button></td>
                        <td></td>    
                        <td> <button type="submit" class="btn btn-xs btn-default"  ng-click="">Submit</button></td>
                            
                        </tr>
                      </tbody>  
                            
					</div>
    
        </form>
        </div>
    </div>
    </table>
      </div>
    </div>
    </div>    
          </section>
        </div>
    </div>
    </div>
</body>

                
               