    <body background-color="#FFFFFF" ng-app="app">

    <div class="pagecontent"  data-ng-controller="OrdersCtrl">

        <div class="row">

          <div class="col-md-12">

    <section class="tile" fullscreen="isFullscreen01"> 

     <div class="tile-header dvd dvd-btm">

       <h1 class="custom-font" align="center"><strong>Add Objectives</strong></h1>
        <ul class="controls">
        </ul>
       </div> 

    <div>
      <div class="panel">
       <div class="row"></div>    
    <div class="panel-body">
    <table class="table table-bordered bordered table-striped table-condensed datatable" ui-options="dataTableOpt">

         <thead></thead>

        <tr>



        <div  class="col-lg-10 well">
        <div class="row">
                    <form class="form-horizontal" role="form"  ng-submit="addObjective()">
                        <div class="col-sm-12">
                          <label>Title</label>
                          <input type="text" class="form-control" placeholder="Enter title here.." name="fName"
                           ng-model="newObjective.title" required/>
                            
                          <label>Due Date</label>
                        <div ng-controller="DatepickerDemoCtrl">
                        <div class="input-group ">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="newObjective.dueDate" placeholder="Choose date due.."is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        </div>
                        </div>
                        
                       <label>Description</label>
                       <textarea name="description" class="form-control"  ng-model="newObjective.description" placeholder="Enter description here.."required></textarea>
                            
                    <br><input class="btn btn-xs btn-default" type="submit" value="Add Objective"  ng-click="addObjective()"/><br>					
                        </div>
                    </form> 

                    </div>
        </div>


            </tr>


            <tbody>


               </tbody>

        </table>
          </div>
           </div>

       </div>

    </section>

         </div>
       </div>
    </div>
    </body>