
<div class="page page-full page-calendar">


  <div class="tbox tbox-sm">
<!--thu-->
       
    <div class="tcol">
      <div class="p-15 bg-white">

        <div class="pull-right">
            
    <ul class="nav-right list-inline">
    <li class="dropdown users" uib-dropdown>


      <a href  uib-dropdown-toggle>

        <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-plus-sign"></span> Add Task
        </button>
      </a>
   

      <div class="dropdown-menu pull-right with-arrow panel panel-default animated littleFadeInUp" role="menu">
        <div class="panel-heading">
          Select Task
        </div>

        <ul class="list-group" >

          <li class="list-group-item">
            <a class="media" ui-sref="app.pages.addActivity" ng-click="addShow('act')">
              <div class="media-left">

              </div>
              <div class="media-body" >
                <span class="block">Add Activity</span>
                <small class="text-muted"></small>
                <small class="text-muted"></small>  
              </div>
            </a>
          </li>

          <li class="list-group-item" ui-sref="app.pages.meeting"  ng-click="addShow('met')">
            <a href="javascript:;" class="media">
              <div class="media-left">
                  
              </div>
              <div class="media-body">
                <span class="block">Add Meeting</span>
                <small class="text-muted"></small>
                <small class="text-muted"></small>
              </div>
            </a>
          </li>
            
            <li class="list-group-item" ui-sref="app.pages.leave">
            <a href="javascript:;" class="media">
              <div class="media-left">

              </div>
              <div class="media-body">
                <span class="block">Add Leave</span>
                <small class="text-muted"></small>
                <small class="text-muted"></small>
              </div>
            </a>
          </li>

        </ul>
<!--

        <div class="panel-footer">
          <a ui-sref="app.pages.gallery" ng-model="addAll" value="addAlls">>Add all events <fa name="angle-right" class="pull-right"></fa></a>
        </div>
-->

      </div>

    </li>
        <li><button type="button" class="btn btn-sm btn-default" ng-click="today()">today</button></li>
        <li>
            <div class="btn-group">
            <button class="btn btn-default btn-sm" ng-click="changeView('agendaDay', 'myCalendar1')">Day</button>
            <button class="btn btn-default btn-sm" ng-click="changeView('agendaWeek', 'myCalendar1')">Week</button>
            <button class="btn btn-default btn-sm" ng-click="changeView('month', 'myCalendar1')">Month</button>
          </div>
        </li>
                </ul>

          
            
          

        </div>

        <h4 class="custom-font text-default m-0">Intern's Calendar</h4>

      </div>

      <div class="p-15">

        <div class="fc-overlay">
          <div class="panel b-solid">
            <h3>Objective: {{event.objective.name}}</h3>
            <h5>Description: {{event.objective.desc}}</h5>
            <h4 class="text-light mt-0">Activity: {{event.title}}</h4>
            <div class="b-b b-solid mb-10"></div>
            <div class="text-muted"><i class="icon-calendar mr-5"></i> {{event.start | date:'medium'}}</div>
            <div class="text-muted" ng-show='event.date'><i class="icon-clock mr-5"></i> {{event.start | date}}</div>
            <div class="mt-10">Comment: {{event.comment}}</div>
          </div>
        </div>

        <div class="calendar" ng-model="eventSources"  calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
     </div>
        

    </div>

  </div>


</div>

 

