
<div class="page page-full page-calendar">


  <div class="tbox tbox-sm">


    <div class="tcol w-lg bg-tr-white lt b-r">      
        <!-- start of activity-->
        <div class="p-15">
        <div ng-repeat="e in events" class="p-10 mb-10 event-control b-l b-2x b-info bg-dutch">
            <div class="form-group">
            <h3>Obejective</h3> 
            <hr>    
            <h4>{{e.objective.name}}</h4>
            <h5>{{e.objective.desc}}</h5>
            <h6>{{e.objective.dueDate | date}}</h6>
                <hr>
                <h3>Activity<a class="pull-right text-muted event-remove" ng-click="removeActivity($index)"><i class="fa fa-trash-o"></i></a></h3>
                <hr>
                <h4>task: {{e.title}}</h4>
                <h5>comment: {{e.comment}}</h5>
                <h6>duration: {{e.duration.hour}} hours and {{e.duration.minutes}} minutes</h6>
                <div class="text-sm text-muted"><strong>{{e.start | date}}</strong></div>
            </div>
        </div>
    </div>
    <!-- end of activity-->  
        
    <!-- start of meeting-->
        <div class="p-15">
        <div ng-repeat="met in meetings" class="p-10 mb-10 event-control b-l b-2x b-info bg-green">
            <div class="form-group">
                <h3>meeting</h3>
                 <hr>
                <h4>meeting: {{met.title}} <a class="pull-right text-muted event-remove" ng-click="removeMeeting($index)"><i class="fa fa-trash-o"></i></a></h4>
                <h5>desc: {{met.comment}}</h5>
                <h6>duration: {{met.duration.hour}} hours and {{met.duration.minutes}} minutes</h6>  
                 <div class="text-sm text-muted"><strong>{{met.start | date}}</strong></div>
            </div>
            </div>
    </div>
    <!--end of meeting-->  
        
        
        
        
    <!-- start of Leave-->    
       <div class="p-15">
        <div ng-repeat="lvs in leaves" class="p-10 mb-10 event-control b-l b-2x b-warning bg-red">
            <div class="form-group">
            <h3>Leave</h3>    
            <h4>leave type: {{lvs.title}}   <a class="pull-right text-muted event-remove" ng-click="removeLeave($index)"><i class="fa fa-trash-o"></i></a></h4>
                <h5>from: {{lvs.start | date}} To {{lvs.end | date}}</h5>
            </div>
        </div>
    </div>
    <!--end of Leave-->  
</div>
       
    <div class="tcol">
      <div class="p-15 bg-white">

        <div class="pull-right">
            
    <ul class="nav-right list-inline">
    <li class="dropdown users" uib-dropdown>


      <a href class="dropdown-toggle" uib-dropdown-toggle>
<!--        <fa name="user" ></fa>-->
          <i class="fa fa-list-ul" aria-hidden="true"></i>
      </a>


      <div class="dropdown-menu pull-right with-arrow panel panel-default animated littleFadeInUp" role="menu">
        <div class="panel-heading">
          Select an Event
        </div>

        <ul class="list-group" >

          <li class="list-group-item">
            <a class="media" ui-sref="app.pages.gallery" ng-click="addShow('act')">
              <div class="media-left">
<!--
                <span class="media-object thumb thumb-sm">
                  <img src="images/arnold-avatar.jpg" alt="" class="img-circle">
                </span>
-->
              </div>
              <div class="media-body" >
                <span class="block">Add Activity</span>
                <small class="text-muted"></small>
                <small class="text-muted"></small>  
              </div>
            </a>
          </li>

          <li class="list-group-item" ui-sref="app.pages.meeting"  ng-click="addShow('met')">
            <a href="javascript:;" class="media">
              <div class="media-left">
<!--
                <span class="media-object  thumb thumb-sm">
                  <img src="images/george-avatar.jpg" alt="" class="img-circle">
                </span>
-->
              </div>
              <div class="media-body">
                <span class="block">Add Meeting</span>
                <small class="text-muted"></small>
                <small class="text-muted"></small>
              </div>
            </a>
          </li>
            
            <li class="list-group-item" ui-sref="app.pages.leave">
            <a href="javascript:;" class="media">
              <div class="media-left">
<!--
                <span class="media-object  thumb thumb-sm">
                  <img src="images/george-avatar.jpg" alt="" class="img-circle">
                </span>
-->
              </div>
              <div class="media-body">
                <span class="block">Add Leave</span>
                <small class="text-muted"></small>
                <small class="text-muted"></small>
              </div>
            </a>
          </li>

        </ul>

        <div class="panel-footer">
          <a ui-sref="app.pages.gallery" ng-model="addAll" value="addAlls">>Add all events <fa name="angle-right" class="pull-right"></fa></a>
<!--            <a  class="text-uppercase">Create an account</a>-->
        </div>

      </div>

    </li>
        <li><button type="button" class="btn btn-sm btn-default" ng-click="today()">today</button></li>
        <li>
            <div class="btn-group">
            <button class="btn btn-default btn-sm" ng-click="changeView('agendaDay', 'myCalendar1')">Day</button>
            <button class="btn btn-default btn-sm" ng-click="changeView('agendaWeek', 'myCalendar1')">Week</button>
            <button class="btn btn-default btn-sm" ng-click="changeView('month', 'myCalendar1')">Month</button>
          </div>
        </li>
                </ul>

          
            
          

        </div>

        <h4 class="custom-font text-default m-0">Intern's Calendar</h4>

      </div>

      <div class="p-15">

        <div class="fc-overlay">
          <div class="panel b-solid">
            <h3>Objective: {{event.objective.name}}</h3>
            <h5>Description: {{event.objective.desc}}</h5>
            <h4 class="text-light mt-0">Activity: {{event.title}}</h4>
            <div class="b-b b-solid mb-10"></div>
            <div class="text-muted"><i class="icon-calendar mr-5"></i> {{event.date | date:'medium'}}</div>
            <div class="text-muted" ng-show='event.date'><i class="icon-clock mr-5"></i> {{event.date | date}}</div>
            <div class="mt-10">Comment: {{event.comment}}</div>
          </div>
        </div>

        <div class="calendar" ng-model="eventSources"  calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
     </div>
        

    </div>

  </div>


</div>

 

